In [83]:
!pip install nltk
!pip install pyspellchecker

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)
Requirement already satisfied: pyspellchecker in /usr/local/lib/python3.7/dist-packages (0.6.2)

In [84]:
# Importing Libraries
import numpy as np
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from spellchecker import SpellChecker

In [85]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [86]:
# Importing Data
df1 = pd.read_excel('1.xlsx')
df2 = pd.read_excel('2.xlsx')
df3 = pd.read_excel('3.xlsx')
df4 = pd.read_excel('4.xlsx') 
df5 = pd.read_excel('5.xlsx')
df=pd.concat([df1, df2, df3, df4, df5],ignore_index=True)

In [87]:
print(df.shape)

(2414, 7)

In [88]:
print(df.head(10))

   Rating                           Heading  ... Upvotes Downvotes
0       4                       Good choice  ...     308        45
1       4                       Really Nice  ...    1813       477
2       5                         Excellent  ...    1763       471
3       5  Best phone at this price bracket  ...     554       164
4       5                    Simply awesome  ...    2070       690
5       5                 Terrific purchase  ...     205        66
6       5                    Classy product  ...     100        44
7       5                            Super!  ...     175        89
8       1                         Hated it!  ...     951       850
9       5                     Great product  ...     202       174

[10 rows x 7 columns]

In [89]:
# Remove punctuation
df["Heading"]=df["Heading"].str.replace('[^\w\s]','')
df["Detailed_review"]=df["Detailed_review"].str.replace('[^\w\s]','')

In [90]:
# Sorting according to desending Upvotes
df=df.sort_values("Upvotes",ascending=False)
print(df)

      Rating               Heading  ... Upvotes Downvotes
1408       5              Terrific  ...    6459      1336
1928       4       Worth the money  ...    3028       634
1409       4          Nice product  ...    2144       464
4          5        Simply awesome  ...    2070       690
1410       4  Good quality product  ...    1831       406
...      ...                   ...  ...     ...       ...
898        4             Very Good  ...       0         0
899        4             Wonderful  ...       0         0
900        5       Perfect product  ...       0         0
901        5             Brilliant  ...       0         0
1207       4           Really Nice  ...       0         0

[2414 rows x 7 columns]

In [91]:
# Converting 'Detailed_review' to Lower Case
df['Detailed_review']=[j.lower() for j in df['Detailed_review']]
print(df['Detailed_review'])

1408    nice phone worth a money at this price point w...
1928    this smartphone is impressed me  camera and ba...
1409    as usual value for money device one thing that...
4       best mobile for in this price range battery ba...
1410    quality wise good good performance of the priz...
                              ...
898     everything is nice but size is too small in ha...
899                                         goodread more
900              good to buy compact iphone everread more
901            great product  worth every penny read more
1207                                        goodread more
Name: Detailed_review, Length: 2414, dtype: object

In [92]:
# Tokenization
df['tokenized_sents'] = [word_tokenize(i) for i in df['Detailed_review']]
df

      Rating  ...                                    tokenized_sents
1408       5  ...  [nice, phone, worth, a, money, at, this, price...
1928       4  ...  [this, smartphone, is, impressed, me, camera, ...
1409       4  ...  [as, usual, value, for, money, device, one, th...
4          5  ...  [best, mobile, for, in, this, price, range, ba...
1410       4  ...  [quality, wise, good, good, performance, of, t...
...      ...  ...                                                ...
898        4  ...  [everything, is, nice, but, size, is, too, sma...
899        4  ...                                   [goodread, more]
900        5  ...   [good, to, buy, compact, iphone, everread, more]
901        5  ...  [great, product, worth, every, penny, read, more]
1207       4  ...                                   [goodread, more]

[2414 rows x 8 columns]

In [93]:
# Remove READ MORE
for i in df['tokenized_sents']:
    if(i[-1]=='MORE' or i[-1]=="more"):
      i.pop()
      i.pop()

In [94]:
df

      Rating  ...                                    tokenized_sents
1408       5  ...  [nice, phone, worth, a, money, at, this, price...
1928       4  ...  [this, smartphone, is, impressed, me, camera, ...
1409       4  ...  [as, usual, value, for, money, device, one, th...
4          5  ...  [best, mobile, for, in, this, price, range, ba...
1410       4  ...  [quality, wise, good, good, performance, of, t...
...      ...  ...                                                ...
898        4  ...  [everything, is, nice, but, size, is, too, sma...
899        4  ...                                                 []
900        5  ...                   [good, to, buy, compact, iphone]
901        5  ...              [great, product, worth, every, penny]
1207       4  ...                                                 []

[2414 rows x 8 columns]

In [95]:
# Length of Tokenized list
df['len']=[len(i) for i in df['tokenized_sents']]
df

      Rating  ... len
1408       5  ...  39
1928       4  ...  29
1409       4  ...  40
4          5  ...  24
1410       4  ...  18
...      ...  ...  ..
898        4  ...  16
899        4  ...   0
900        5  ...   5
901        5  ...   5
1207       4  ...   0

[2414 rows x 9 columns]

In [96]:
df['len'].describe()

count    2414.000000
mean       11.853770
std        18.131529
min         0.000000
25%         1.000000
50%         4.000000
75%        14.000000
max        98.000000
Name: len, dtype: float64

In [97]:
df=df[df['len']>0]

In [98]:
# Stopwords 
stop_words = set(stopwords.words('english'))
df['tokenized_sents']=df['tokenized_sents'].apply(lambda x: [item for item in x if item not in stop_words])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [99]:
# Lemmatization
wordnet_lemmatizer = WordNetLemmatizer()
df['tokenized_sents']=df['tokenized_sents'].apply(lambda x: [wordnet_lemmatizer.lemmatize(y) for y in x])
print(df['tokenized_sents'].head(20))

1408    [nice, phone, worth, money, price, point, else...
1928    [smartphone, impressed, camera, battery, backu...
1409    [usual, value, money, device, one, thing, attr...
4       [best, mobile, price, range, battery, backup, ...
1410    [quality, wise, good, good, performance, prize...
1       [first, would, like, thank, flipkart, fastest,...
2       [smartphone, good, camera, battery, value, mon...
1435                                              [power]
515     [nice, product, fully, satisfied, thankyou, fl...
1415    [using, phone, three, day, speed, good, displa...
1463                            [super, 48, camara, like]
516     [superb, nice, phone, mini, compact, small, pr...
8       [phone, look, great, appearance, fully, black,...
1950                               [nice, product, value]
1413    [liked, phone, much, praise, tha, phone, good,...
579                                     [camera, quality]
1467                                               [best]
517     [iphone, user, since, 2010, till, using, italm...
1927    [awsome, product, value, money, stereo, speake...
1984                                  [nyc, best, budget]
Name: tokenized_sents, dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [100]:
# Pyspellchecker for spelling correction
spell = SpellChecker()
df['tokenized_sents']=df['tokenized_sents'].apply(lambda x: [spell.correction(y) for y in x])
print(df['tokenized_sents'].head(20))

1408    [nice, phone, worth, money, price, point, else...
1928    [smartphone, impressed, camera, battery, backu...
1409    [usual, value, money, device, one, thing, attr...
4       [best, mobile, price, range, battery, backup, ...
1410    [quality, wise, good, good, performance, prize...
1       [first, would, like, thank, flippant, fastest,...
2       [smartphone, good, camera, battery, value, mon...
1435                                              [power]
515     [nice, product, fully, satisfied, thankyou, fl...
1415    [using, phone, three, day, speed, good, displa...
1463                            [super, 48, camera, like]
516     [superb, nice, phone, mini, compact, small, pr...
8       [phone, look, great, appearance, fully, black,...
1950                               [nice, product, value]
1413    [liked, phone, much, praise, tha, phone, good,...
579                                     [camera, quality]
1467                                               [best]
517     [iphone, user, since, 2010, till, using, almos...
1927    [awsome, product, value, money, stereo, speake...
1984                                   [ny, best, budget]
Name: tokenized_sents, dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [101]:
# Joining tokenised list
separator = ' '
df['Cleaned Detailed Review']=df['tokenized_sents'].apply(lambda x: separator.join(x))
print(df['Cleaned Detailed Review'])

1408    nice phone worth money price point else ask th...
1928    smartphone impressed camera battery backup goo...
1409    usual value money device one thing attracts st...
4       best mobile price range battery backup highlig...
1410    quality wise good good performance prize cam q...
                              ...
896                                      super awesome 12
897     perfect device handy smooth running apps camer...
898      everything nice size small hand comfortable time
900                               good buy compact iphone
901                       great product worth every penny
Name: Cleaned Detailed Review, Length: 2079, dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [102]:
'''
For rating 1 2 3 = 0 (Low Trust)
For rating 4 5 = 1 (High Trust)
'''
def get_trust(n):
  if(n==4 or n==5):
    return 1
  else:
    return 0

In [103]:
# Encoding Trust into low (0) and high (1)
df['Trust']=df['Rating'].apply(lambda x: get_trust(x))
print(df['Trust'])

1408    1
1928    1
1409    1
4       1
1410    1
       ..
896     1
897     1
898     1
900     1
901     1
Name: Trust, Length: 2079, dtype: int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [104]:
# Data Frame containing only Trust and Cleaned Detailed Review
df_new=df[['Cleaned Detailed Review','Trust']]
print(df_new)

                                Cleaned Detailed Review  Trust
1408  nice phone worth money price point else ask th...      1
1928  smartphone impressed camera battery backup goo...      1
1409  usual value money device one thing attracts st...      1
4     best mobile price range battery backup highlig...      1
1410  quality wise good good performance prize cam q...      1
...                                                 ...    ...
896                                    super awesome 12      1
897   perfect device handy smooth running apps camer...      1
898    everything nice size small hand comfortable time      1
900                             good buy compact iphone      1
901                     great product worth every penny      1

[2079 rows x 2 columns]

In [105]:
# Exporting to Excel
df_new.to_excel("output.xlsx")